## **SQL for Data Science with Python**

### Introduction

Hello !

My name is Taufiq Fajri and this Notebook is created to finish my Peer Assignment in this [course](https://www.coursera.org/learn/sql-data-science)

Note that the datasets, and problems provided by the course.

### The Datasets



This assignment requires these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):

- <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv" target="_blank">Chicago Census Data</a>

- <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv" target="_blank">Chicago Public Schools</a>

- <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv" target="_blank">Chicago Crime Data</a>

#### Connect to the database


To analyze the data using SQL, it first needs to be stored in the database.

This assignment is required the data to be stored in **CLOUD IBM DB2**, so this notebook will connect to the DB2 cloud.


Read the DB2 on Cloud documentation [here](https://www.ibm.com/docs/en/db2oc?topic=cloud-overview)

### Connecting to DB and importing library

In [1]:
import sqlalchemy
from sqlalchemy import *
import ibm_db_sa

In [2]:
%load_ext sql

In [3]:
%sql ibm_db_sa://myh70408:zRUC8LuOl7N3lPA0@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/BLUDB?security=SSL

### Fetching Metadata

#### Tables List

In [4]:
%sql SELECT TABNAME from SYSCAT.TABLES where TABSCHEMA = 'MYH70408'

 * ibm_db_sa://myh70408:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/BLUDB
Done.

[('PETSHOP',),
 ('BOOKSHOP',),
 ('BOOKSHOP_AUTHORDETAILS',),
 ('EMPLOYEES',),
 ('JOB_HISTORY',),
 ('JOBS',),
 ('DEPARTMENTS',),
 ('LOCATIONS',),
 ('PERSON',),
 ('PETRESCUE',),
 ('INSTRUCTOR',),
 ('INTERNATIONAL_STUDENT_TEST_SCORES',),
 ('CHICAGO_SOCIOECONOMIC_DATA',),
 ('CHICAGO_CRIME_DATA',),
 ('CHICAGO_CENSUS_DATA',),
 ('CHICAGO_PUBLIC_SCHOOLS',),
 ('SCHOOLS',),
 ('BANKACCOUNTS',),
 ('SHOESHOP',),
 ('PETSALE',),
 ('EMPINFO',),
 ('SCHOOL_INFO',)]

#### Column Data for Chicago_Crime_Data

In [5]:
%sql SELECT COLNAME from SYSCAT.COLUMNS where TABNAME ='CHICAGO_CRIME_DATA'

 * ibm_db_sa://myh70408:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/BLUDB
Done.

[('ARREST',),
 ('BEAT',),
 ('BLOCK',),
 ('CASE_NUMBER',),
 ('COMMUNITY_AREA_NUMBER',),
 ('DATE',),
 ('DESCRIPTION',),
 ('DISTRICT',),
 ('DOMESTIC',),
 ('FBICODE',),
 ('ID',),
 ('IUCR',),
 ('LATITUDE',),
 ('LOCATION',),
 ('LOCATION_DESCRIPTION',),
 ('LONGITUDE',),
 ('PRIMARY_TYPE',),
 ('WARD',),
 ('X_COORDINATE',),
 ('YEAR',),
 ('Y_COORDINATE',)]

#### Column For CHICAGO_CENSUS_DATA

In [6]:
%sql SELECT COLNAME from SYSCAT.COLUMNS where TABNAME ='CHICAGO_CENSUS_DATA'

 * ibm_db_sa://myh70408:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/BLUDB
Done.

[('COMMUNITY_AREA_NAME',),
 ('COMMUNITY_AREA_NUMBER',),
 ('HARDSHIP_INDEX',),
 ('PERCENT_AGED_16_UNEMPLOYED',),
 ('PERCENT_AGED_25_WITHOUT_HIGH_SCHOOL_DIPLOMA',),
 ('PERCENT_AGED_UNDER_18_OR_OVER_64',),
 ('PERCENT_HOUSEHOLDS_BELOW_POVERTY',),
 ('PERCENT_OF_HOUSING_CROWDED',),
 ('PER_CAPITA_INCOME',)]

#### Column For CHICAGO_PUBLIC_SCHOOL

In [11]:
%sql SELECT COLNAME, TYPENAME from SYSCAT.COLUMNS where TABNAME ='CHICAGO_PUBLIC_SCHOOLS'

 * ibm_db_sa://myh70408:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/BLUDB
Done.

[('SCHOOL_ID', 'INTEGER'),
 ('NAME_OF_SCHOOL', 'VARCHAR'),
 ('ELEMENTARY_MIDDLE_OR_HIGHSCHOOL', 'VARCHAR'),
 ('STREET_ADDRESS', 'VARCHAR'),
 ('CITY', 'VARCHAR'),
 ('STATE', 'VARCHAR'),
 ('ZIP_CODE', 'INTEGER'),
 ('PHONE_NUMBER', 'VARCHAR'),
 ('LINK', 'VARCHAR'),
 ('NETWORK_MANAGER', 'VARCHAR'),
 ('COLLABORATIVE_NAME', 'VARCHAR'),
 ('ADEQUATE_YEARLY_PROGRESS_MADE', 'VARCHAR'),
 ('TRACK_SCHEDULE', 'VARCHAR'),
 ('CPS_PERFORMANCE_POLICY_STATUS', 'VARCHAR'),
 ('CPS_PERFORMANCE_POLICY_LEVEL', 'VARCHAR'),
 ('HEALTHY_SCHOOL_CERTIFIED', 'VARCHAR'),
 ('SAFETY_ICON', 'VARCHAR'),
 ('SAFETY_SCORE', 'SMALLINT'),
 ('FAMILY_INVOLVEMENT_ICON', 'VARCHAR'),
 ('FAMILY_INVOLVEMENT_SCORE', 'VARCHAR'),
 ('COLLEGE_ENROLLMENT_RATE', 'VARCHAR'),
 ('COLLEGE_ENROLLMENT', 'SMALLINT'),
 ('GENERAL_SERVICES_ROUTE', 'SMALLINT'),
 ('FRESHMAN_ON_TRACK_RATE', 'VARCHAR'),
 ('X_COORDINATE', 'DECIMAL'),
 ('Y_COORDINATE', 'DECIMAL'),
 ('LATITUDE', 'DECIMAL'),
 ('LONGITUDE', 'DECIMAL'),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT'),
 ('COMMUNITY_AREA_NAME', 'VARCHAR'),
 ('WARD', 'SMALLINT'),
 ('POLICE_DISTRICT', 'SMALLINT'),
 ('LOCATION', 'VARCHAR'),
 ('ENVIRONMENT_ICON', 'VARCHAR'),
 ('ENVIRONMENT_SCORE', 'SMALLINT'),
 ('INSTRUCTION_ICON', 'VARCHAR'),
 ('INSTRUCTION_SCORE', 'SMALLINT'),
 ('LEADERS_ICON', 'VARCHAR'),
 ('LEADERS_SCORE', 'VARCHAR'),
 ('TEACHERS_ICON', 'VARCHAR'),
 ('TEACHERS_SCORE', 'VARCHAR'),
 ('PARENT_ENGAGEMENT_ICON', 'VARCHAR'),
 ('PARENT_ENGAGEMENT_SCORE', 'VARCHAR'),
 ('PARENT_ENVIRONMENT_ICON', 'VARCHAR'),
 ('PARENT_ENVIRONMENT_SCORE', 'VARCHAR'),
 ('AVERAGE_STUDENT_ATTENDANCE', 'VARCHAR'),
 ('RATE_OF_MISCONDUCTS_PER_100_STUDENTS', 'DECIMAL'),
 ('AVERAGE_TEACHER_ATTENDANCE', 'VARCHAR'),
 ('INDIVIDUALIZED_EDUCATION_PROGRAM_COMPLIANCE_RATE', 'VARCHAR'),
 ('PK_2_LITERACY', 'VARCHAR'),
 ('PK_2_MATH', 'VARCHAR'),
 ('GR3_5_GRADE_LEVEL_MATH', 'VARCHAR'),
 ('GR3_5_GRADE_LEVEL_READ', 'VARCHAR'),
 ('GR3_5_KEEP_PACE_READ', 'VARCHAR'),
 ('GR3_5_KEEP_PACE_MATH', 'VARCHAR'),
 ('GR6_8_GRADE_LEVEL_MATH', 'VARCHAR'),
 ('GR6_8_GRADE_LEVEL_READ', 'VARCHAR'),
 ('GR6_8_KEEP_PACE_MATH', 'VARCHAR'),
 ('GR6_8_KEEP_PACE_READ', 'VARCHAR'),
 ('GR_8_EXPLORE_MATH', 'VARCHAR'),
 ('GR_8_EXPLORE_READ', 'VARCHAR'),
 ('ISAT_EXCEEDING_MATH', 'DECIMAL'),
 ('ISAT_EXCEEDING_READING', 'DECIMAL'),
 ('ISAT_VALUE_ADD_MATH', 'DECIMAL'),
 ('ISAT_VALUE_ADD_READ', 'DECIMAL'),
 ('ISAT_VALUE_ADD_COLOR_MATH', 'VARCHAR'),
 ('ISAT_VALUE_ADD_COLOR_READ', 'VARCHAR'),
 ('STUDENTS_TAKING_ALGEBRA', 'VARCHAR'),
 ('STUDENTS_PASSING_ALGEBRA_', 'VARCHAR'),
 ('9th_Grade_EXPLORE_2009', 'VARCHAR'),
 ('9th_Grade_EXPLORE_2010', 'VARCHAR'),
 ('10th_Grade_PLAN_2009', 'VARCHAR'),
 ('10th_Grade_PLAN_2010', 'VARCHAR'),
 ('NET_CHANGE_EXPLORE_AND_PLAN', 'VARCHAR'),
 ('11th_Grade_Average_ACT_2011', 'VARCHAR'),
 ('NET_CHANGE_PLAN_AND_ACT', 'VARCHAR'),
 ('COLLEGE_ELIGIBILITY', 'VARCHAR'),
 ('GRADUATION_RATE', 'VARCHAR')]

## Problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [8]:
%sql select COUNT(*) as TOTAL_CRIMES from CHICAGO_CRIME_DATA;

 * ibm_db_sa://myh70408:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/BLUDB
Done.

[(533,)]

### Problem 2

##### List community areas with per capita income less than 11000.

In [9]:
%%sql 
select COMMUNITY_AREA_NAME, PER_CAPITA_INCOME 
from CHICAGO_CENSUS_DATA 
where PER_CAPITA_INCOME < 11000;

 * ibm_db_sa://myh70408:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/BLUDB
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

### Problem 3

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [10]:
%%sql 
select CASE_NUMBER, DESCRIPTION
from CHICAGO_CRIME_DATA 
where DESCRIPTION LIKE '%MINOR%' 
ORDER BY CASE_NUMBER;

 * ibm_db_sa://myh70408:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/BLUDB
Done.

[('HK238408', 'ILLEGAL CONSUMPTION BY MINOR'),
 ('HL266884', 'SELL/GIVE/DEL LIQUOR TO MINOR')]

### Problem 4

##### List all kidnapping crimes involving a child?

In [11]:
%%sql select CASE_NUMBER, DESCRIPTION from CHICAGO_CRIME_DATA 
where DESCRIPTION like '%CHILD%';

 * ibm_db_sa://myh70408:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/BLUDB
Done.

[('HN567387', 'AGG SEX ASSLT OF CHILD FAM MBR'),
 ('HR391350', 'SEX ASSLT OF CHILD BY FAM MBR'),
 ('HN144152', 'CHILD ABDUCTION/STRANGER')]

### Problem 5

##### What kinds of crimes were recorded at schools?

In [12]:
%%sql 
select PRIMARY_TYPE, DESCRIPTION, LOCATION_DESCRIPTION 
from CHICAGO_CRIME_DATA 
where LOCATION_DESCRIPTION like '%SCHOOL%';

 * ibm_db_sa://myh70408:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/BLUDB
Done.

[('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('BATTERY', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL DAMAGE', 'TO VEHICLE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'POSS: HEROIN(WHITE)', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'MANU/DEL:CANNABIS 10GM OR LESS', 'SCHOOL, PUBLIC, BUILDING'),
 ('ASSAULT', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL TRESPA', 'TO LAND', 'SCHOOL, PUBLIC, GROUNDS'),
 ('PUBLIC PEACE VI', 'BOMB THREAT', 'SCHOOL, PRIVATE, BUILDING'),
 ('PUBLIC PEACE VI', 'BOMB THREAT', 'SCHOOL, PUBLIC, BUILDING')]

### Problem 6

##### List the average safety score for each type of school.

In [13]:
%%sql 
select ELEMENTARY_MIDDLE_OR_HIGHSCHOOL, AVG(SAFETY_SCORE) as AVERATE_SAFETY
from CHICAGO_PUBLIC_SCHOOLS
group by ELEMENTARY_MIDDLE_OR_HIGHSCHOOL;

 * ibm_db_sa://myh70408:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/BLUDB
Done.

[('ES', 49), ('HS', 49), ('MS', 48)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [14]:
%%sql 
select COMMUNITY_AREA_NUMBER, COMMUNITY_AREA_NAME, PER_CAPITA_INCOME
from CHICAGO_CENSUS_DATA 
where PER_CAPITA_INCOME > 
(select AVG(PER_CAPITA_INCOME) from CHICAGO_CENSUS_DATA)
fetch first 5 rows only;

 * ibm_db_sa://myh70408:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/BLUDB
Done.

[(3, 'Uptown', 35787),
 (4, 'Lincoln Square', 37524),
 (5, 'North Center', 57123),
 (6, 'Lake View', 60058),
 (7, 'Lincoln Park', 71551)]

### Problem 8

##### Which community area is most crime prone?

In [15]:
%%sql
select COMMUNITY_AREA_NUMBER, count(CASE_NUMBER) as NUMBER_OF_CASES 
from CHICAGO_CRIME_DATA
GROUP BY COMMUNITY_AREA_NUMBER
ORDER BY NUMBER_OF_CASES desc
LIMIT 1;

 * ibm_db_sa://myh70408:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/BLUDB
Done.

[(25, 43)]

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [17]:
%%sql
select COMMUNITY_AREA_NAME, HARDSHIP_INDEX
from CHICAGO_CENSUS_DATA
order by HARDSHIP_INDEX DESC
LIMIT 1,5 ;

 * ibm_db_sa://myh70408:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/BLUDB
Done.

[('Riverdale', 98),
 ('Fuller Park', 97),
 ('South Lawndale', 96),
 ('Englewood', 94),
 ('Gage Park', 93)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [ ]:
%%sql
select S.COMMUNITY_AREA_NAME, count(R.CASE_NUMBER) as NUMBER_OF_CASES
from CHICAGO_CENSUS_DATA S, CHICAGO_CRIME_DATA R
where S.COMMUNITY_AREA_NUMBER = R.COMMUNITY_AREA_NUMBER
GROUP BY S.COMMUNITY_AREA_NAME
ORDER BY NUMBER_OF_CASES DESC 
fetch first 1 rows only;

 * ibm_db_sa://myh70408:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/BLUDB
Done.

[('Austin', 43)]

### Problem 11

##### List the case number, type of crime and community area for all crimes in community area number 18

In [ ]:
%%sql 
select R.CASE_NUMBER, R.PRIMARY_TYPE, S.COMMUNITY_AREA_NAME, S.COMMUNITY_AREA_NUMBER
from CHICAGO_CRIME_DATA as R 
INNER JOIN CHICAGO_CENSUS_DATA as S
on R.COMMUNITY_AREA_NUMBER = S.COMMUNITY_AREA_NUMBER
where R.COMMUNITY_AREA_NUMBER = 18;

 * ibm_db_sa://myh70408:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/BLUDB
Done.

[('JA560123', 'CRIMINAL DAMAGE', 'Montclaire', 18),
 ('JA107722', 'OTHER OFFENSE', 'Montclaire', 18)]

### Problem 12

##### List all crimes that took place at a school. Include case number, crime type and community name.

In [ ]:
%%sql 
select R.CASE_NUMBER, R.PRIMARY_TYPE, R.LOCATION_DESCRIPTION, S.COMMUNITY_AREA_NAME
from CHICAGO_CRIME_DATA as R 
LEFT JOIN CHICAGO_CENSUS_DATA as S
on R.COMMUNITY_AREA_NUMBER = S.COMMUNITY_AREA_NUMBER
WHERE R.LOCATION_DESCRIPTION LIKE '%SCHOOL%';

 * ibm_db_sa://myh70408:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/BLUDB
Done.

[('HK577020', 'NARCOTICS', 'SCHOOL, PUBLIC, GROUNDS', 'Rogers Park'),
 ('HL725506', 'BATTERY', 'SCHOOL, PUBLIC, BUILDING', 'Lincoln Square'),
 ('HH639427', 'BATTERY', 'SCHOOL, PUBLIC, BUILDING', 'Austin'),
 ('HS200939', 'CRIMINAL DAMAGE', 'SCHOOL, PUBLIC, GROUNDS', 'Austin'),
 ('HT315369', 'ASSAULT', 'SCHOOL, PUBLIC, GROUNDS', 'East Garfield Park'),
 ('HP716225', 'BATTERY', 'SCHOOL, PUBLIC, BUILDING', 'Douglas'),
 ('HL353697', 'BATTERY', 'SCHOOL, PUBLIC, GROUNDS', 'South Shore'),
 ('HS305355', 'NARCOTICS', 'SCHOOL, PUBLIC, BUILDING', 'Brighton Park'),
 ('JA460432', 'BATTERY', 'SCHOOL, PUBLIC, GROUNDS', 'Ashburn'),
 ('HR585012', 'CRIMINAL TRESPA', 'SCHOOL, PUBLIC, GROUNDS', 'Ashburn'),
 ('HH292682', 'PUBLIC PEACE VI', 'SCHOOL, PRIVATE, BUILDING', None),
 ('G635735', 'PUBLIC PEACE VI', 'SCHOOL, PUBLIC, BUILDING', None)]

### Problem 13

##### For the communities of Oakland, Armour Square, Edgewater and CHICAGO list the associated community_area_numbers and the case_numbers.

In [ ]:
%%sql 
select S.COMMUNITY_AREA_NAME, R.COMMUNITY_AREA_NUMBER, R.CASE_NUMBER
from CHICAGO_CENSUS_DATA AS S 
FULL OUTER JOIN CHICAGO_CRIME_DATA AS R 
on S.COMMUNITY_AREA_NUMBER = R.COMMUNITY_AREA_NUMBER 
where S.COMMUNITY_AREA_NAME in ('Oakland', 'Armour Square', 'Edgewater', 'CHICAGO');

 * ibm_db_sa://myh70408:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/BLUDB
Done.

[('Edgewater', 77, 'HV537004'),
 ('Edgewater', 77, 'HM392612'),
 ('CHICAGO', None, None),
 ('Armour Square', None, None),
 ('Oakland', None, None)]

### Problem 14

##### Write and execute a SQL query to list the school names, community names and average attendance for communities with a hardship index of 98.

In [ ]:
%%sql 
select C.NAME_OF_SCHOOL, C.COMMUNITY_AREA_NAME, C.AVERAGE_STUDENT_ATTENDANCE, S.HARDSHIP_INDEX
from CHICAGO_PUBLIC_SCHOOLS as C 
RIGHT JOIN CHICAGO_CENSUS_DATA as S
on C.COMMUNITY_AREA_NUMBER = S.COMMUNITY_AREA_NUMBER
where S.HARDSHIP_INDEX = 98;

 * ibm_db_sa://myh70408:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/BLUDB
Done.

[('George Washington Carver Military Academy High School', 'RIVERDALE', '91.60%', 98),
 ('George Washington Carver Primary School', 'RIVERDALE', '90.90%', 98),
 ('Ira F Aldridge Elementary School', 'RIVERDALE', '92.90%', 98),
 ('William E B Dubois Elementary School', 'RIVERDALE', '93.30%', 98)]

### Problem 15

##### Write and execute a SQL query to list all crimes that took place at a school. Include case number, crime type and community name.

In [ ]:
%%sql
select R.CASE_NUMBER, R.PRIMARY_TYPE, R.LOCATION_DESCRIPTION, S.COMMUNITY_AREA_NAME
from CHICAGO_CRIME_DATA as R
LEFT JOIN CHICAGO_CENSUS_DATA as S
on R.COMMUNITY_AREA_NUMBER = S.COMMUNITY_AREA_NUMBER
where R.LOCATION_DESCRIPTION LIKE '%SCHOOL%';

 * ibm_db_sa://myh70408:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/BLUDB
Done.

[('HK577020', 'NARCOTICS', 'SCHOOL, PUBLIC, GROUNDS', 'Rogers Park'),
 ('HL725506', 'BATTERY', 'SCHOOL, PUBLIC, BUILDING', 'Lincoln Square'),
 ('HH639427', 'BATTERY', 'SCHOOL, PUBLIC, BUILDING', 'Austin'),
 ('HS200939', 'CRIMINAL DAMAGE', 'SCHOOL, PUBLIC, GROUNDS', 'Austin'),
 ('HT315369', 'ASSAULT', 'SCHOOL, PUBLIC, GROUNDS', 'East Garfield Park'),
 ('HP716225', 'BATTERY', 'SCHOOL, PUBLIC, BUILDING', 'Douglas'),
 ('HL353697', 'BATTERY', 'SCHOOL, PUBLIC, GROUNDS', 'South Shore'),
 ('HS305355', 'NARCOTICS', 'SCHOOL, PUBLIC, BUILDING', 'Brighton Park'),
 ('JA460432', 'BATTERY', 'SCHOOL, PUBLIC, GROUNDS', 'Ashburn'),
 ('HR585012', 'CRIMINAL TRESPA', 'SCHOOL, PUBLIC, GROUNDS', 'Ashburn'),
 ('HH292682', 'PUBLIC PEACE VI', 'SCHOOL, PRIVATE, BUILDING', None),
 ('G635735', 'PUBLIC PEACE VI', 'SCHOOL, PUBLIC, BUILDING', None)]

### Problem 16

##### Write and execute a SQL statement to create a view showing following columns : school_name, safety_rating, family_rating, environment_rating, instruction_rating, leaders_rating, teachers_rating

In [ ]:
%%sql
create view SCHOOL_INFO (SCHOOL_NAME, SAFETY_RATING, FAMILY_RATING, ENVIRONMENT_RATING, INSTRUCTION_RATING, LEADERS_RATING, TEACHERS_RATING)
as select NAME_OF_SCHOOL, SAFETY_ICON, FAMILY_INVOLVEMENT_SCORE, ENVIRONMENT_ICON, INSTRUCTION_ICON, LEADERS_ICON, TEACHERS_ICON
from CHICAGO_PUBLIC_SCHOOLS

 * ibm_db_sa://myh70408:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/BLUDB
Done.

[]

### Problem 17

##### Call the view you just created

In [ ]:
%%sql
select * from SCHOOL_INFO
limit 10;

 * ibm_db_sa://myh70408:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/BLUDB
Done.

[('Abraham Lincoln Elementary School', 'Very Strong', '99', 'Strong', 'Strong', 'Weak', 'Strong'),
 ('Adam Clayton Powell Paideia Community Academy Elementary School', 'Average', '66', 'Strong', 'Very Strong', 'Weak', 'Strong'),
 ('Adlai E Stevenson Elementary School', 'Strong', 'NDA', 'Average', 'Weak', 'Weak', 'NDA'),
 ('Agustin Lara Elementary Academy', 'Average', '44', 'Average', 'Weak', 'Weak', 'Average'),
 ('Air Force Academy High School', 'Average', '60', 'Strong', 'Average', 'Weak', 'Average'),
 ('Albany Park Multicultural Academy', 'Strong', '37', 'Strong', 'Strong', 'Weak', 'Average'),
 ('Albert G Lane Technical High School', 'Very Strong', 'NDA', 'Strong', 'Average', 'Weak', 'NDA'),
 ('Albert R Sabin Elementary Magnet School', 'Strong', 'NDA', 'Weak', 'Very Weak', 'Weak', 'NDA'),
 ('Alcott High School for the Humanities', 'Strong', 'NDA', 'Strong', 'Average', 'Weak', 'NDA'),
 ('Alessandro Volta Elementary School', 'Average', '61', 'Weak', 'Weak', 'Weak', 'Average')]

### Problem 18

#### Stored Procedures for Updating Leaders Score and Leaders Icon

Write the structure of a query to create or replace a stored procedure called UPDATE_LEADERS_SCORE that takes a in_School_ID parameter as an integer and a in_Leader_Score parameter as an integer. 

Inside your stored procedure, write a SQL statement to update the Leaders_Score field in the CHICAGO_PUBLIC_SCHOOLS table for the school identified by in_School_ID to the value in the in_Leader_Score parameter.

In [9]:
%%sql 
#SET TERMINATOR @
CREATE PROCEDURE UPDATE_LEADERS_SCORE (IN in_school_id INTEGER, IN in_leader_score INTEGER)

LANGUAGE SQL
MODIFIES SQL DATA 

BEGIN 

    IF in_leader_score >79 THEN
        UPDATE CHICAGO_PUBLIC_SCHOOLS
        SET LEADERS_ICON = 'Very Strong', LEADERS_SCORE = in_leader_score
        WHERE SCHOOL_ID = in_school_id;

    ELSEIF in_leader_score > 59 AND in_leader_score <80 THEN
        UPDATE CHICAGO_PUBLIC_SCHOOLS
        SET LEADERS_ICON = 'Strong', LEADERS_SCORE = in_leader_score 
        WHERE SCHOOL_ID = in_school_id;
    
    ELSEIF in_leader_score > 39 AND in_leader_score <60 THEN
        UPDATE CHICAGO_PUBLIC_SCHOOLS
        SET LEADERS_ICON = 'Strong', LEADERS_SCORE = in_leader_score 
        WHERE SCHOOL_ID = in_school_id;

    ELSEIF in_leader_score > 19 AND in_leader_score <40 THEN
        UPDATE CHICAGO_PUBLIC_SCHOOLS
        SET LEADERS_ICON = 'Weak', LEADERS_SCORE = in_leader_score 
        WHERE SCHOOL_ID = in_school_id;

    ELSE 
        UPDATE CHICAGO_PUBLIC_SCHOOLS
        SET LEADERS_ICON = 'Very Weak', LEADERS_SCORE = in_leader_score 
        WHERE SCHOOL_ID = in_school_id;

    END IF;

END 
@

 * ibm_db_sa://myh70408:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/BLUDB
Done.

[]

### Problem 19

##### Update your stored procedure definition. Add a generic ELSE clause to the IF statement that rolls back the current work if the score did not fit any of the preceding categories. 

#### Update your stored procedure definition again. Add a statement to commit the current unit of work at the end of the procedure.

In [12]:
%%sql 
#SET TERMINATOR @
CREATE PROCEDURE UPDATE_LEADERS_SCORE (IN in_school_id INTEGER, IN in_leader_score INTEGER)

LANGUAGE SQL
MODIFIES SQL DATA 

BEGIN 
  
    IF in_leader_score >79 AND in_leader_score <100 THEN
        UPDATE CHICAGO_PUBLIC_SCHOOLS
        SET LEADERS_ICON = 'Very Strong', LEADERS_SCORE = in_leader_score
        WHERE SCHOOL_ID = in_school_id;

    ELSEIF in_leader_score > 59 AND in_leader_score <80 THEN
        UPDATE CHICAGO_PUBLIC_SCHOOLS
        SET LEADERS_ICON = 'Strong', LEADERS_SCORE = in_leader_score 
        WHERE SCHOOL_ID = in_school_id;
    
    ELSEIF in_leader_score > 39 AND in_leader_score <60 THEN
        UPDATE CHICAGO_PUBLIC_SCHOOLS
        SET LEADERS_ICON = 'Strong', LEADERS_SCORE = in_leader_score 
        WHERE SCHOOL_ID = in_school_id;

    ELSEIF in_leader_score > 19 AND in_leader_score <40 THEN
        UPDATE CHICAGO_PUBLIC_SCHOOLS
        SET LEADERS_ICON = 'Weak', LEADERS_SCORE = in_leader_score 
        WHERE SCHOOL_ID = in_school_id;

    ELSEIF in_leader_score >= 0 AND in_leader_score <20 THEN
        UPDATE CHICAGO_PUBLIC_SCHOOLS
        SET LEADERS_ICON = 'Very Weak', LEADERS_SCORE = in_leader_score 
        WHERE SCHOOL_ID = in_school_id;

    ELSE 
    	ROLLBACK WORK;
    
    END IF;
    COMMIT WORK;

END 
@

 * ibm_db_sa://myh70408:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/BLUDB
Done.

[]